*{
    box-sizing: border-box;
}
body{
    background-color: rgba(211, 211, 211, 0.671);
    margin: 0;
    padding: 0;
    
}
.container{
    display: flex;
    margin: 20px 100px;
}

/* menu */
#border{
    border-bottom: 1px solid lightgray;
}
.menu{
    height: 100%;
    background-color: white;
    box-shadow: 1px 1px 2px 2px rgba(128, 128, 128, 0.288);
    width:40%;
}
/* image */
.image{
    width: 100%;
    position: relative;
}

.image p{
    position: absolute;
    left: 10%;
    top: 50%;
    font-size: 25px;
    letter-spacing: 2px;
}


/* icons */

.icons{
   color: lightseagreen;
}
.icon{
    margin: 30px;
    color: gray;
}
.icon3{
    margin: 30px;
    color: gray;
}
.skills{
    
    margin: 20px;
    color: gray;
    font-size: 24px;
    font-weight: bold;
}

/* details */
.details{
    margin: 20px;
}
.details p{
    color: gray;
}

.percentage{    
    background-color: lightseagreen;
    border-radius: 10px;
    text-align: center;
}

/* side-content */
.side-content{
    display: flex;
    flex-flow: column;
    margin-left: 20px;
    width: 60%;
}
.sheet1{
    background-color: white;
    height: 100%;
    box-shadow: 1px 1px 2px 2px rgba(128, 128, 128, 0.288);
}
/* icon */
.icons1{
    font-size: 30px;
    color: gray;
}
.icon1{
    color: lightseagreen;
    margin-top: 40px;
    margin-left: 15px;
}
/* front-end */

.details1{
    margin: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid lightgrey;
}
div h2{
    font-size: 16px;
    color: gray;
}
.icon2{
    color: lightseagreen;
}
.calender{
    color: lightseagreen;
    margin-top: 20px;
}
span{
    background-color: lightseagreen;
    color: white;
    padding: 2px 6px;
    border-radius: 5px;
}
.details1 p{
    font-size: 14px;
    word-spacing: 5px;
    margin-bottom: 30px;
}
.detailss{
    margin: 40px;
    margin-bottom: 40px;
}
.detailss p{
    font-size: 14px;
    word-spacing: 5px;
}
.iconss{
    font-size: 30px;
    color: gray;
    margin-top: 20px;
}
.sheet2{
    margin-top: 20px;
    background-color: white;
    height: 100%;
    box-shadow: 1px 1px 2px 2px rgba(128, 128, 128, 0.288);
}
footer{
    background-color: lightseagreen;
    padding: 20px;
    text-align: center;
    color: white;
}
footer a{
    color: white;
}

@media screen and (max-width:850px) {
    .container{
        margin: 20px 20px;
    }
    .menu{
        width: 40%;
    }
    .side-content{
        width: 60%;
    }
}
@media screen and (max-width:650px) {
    .container{
        flex-wrap: wrap;
    }
    .menu{
        width: 100%;
    }
    .side-content{
        width: 100%;
        margin-top: 20px;
        margin-left: 0;

    }
}