*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient( rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(https://www.decorilla.com/online-decorating/wp-content/uploads/2018/10/modern-interior-design-grey-living-room2.png);
    background-size: cover;
    background-position: center;
}
/* navigation */
.navigation{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.icon{
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 35px;
    cursor: pointer;

}
ul li{
    display: inline-block;
    list-style: none;
    position: relative;
}

ul li a{
    color: white;
    text-decoration: none;
    margin:  0 20px;
    text-transform: uppercase;
}
 ul li::after{
    content: " ";
    height: 3px;
    width: 0;
    background-color: turquoise;
    position: absolute;
    left: 0;
    bottom: -10%;
    transition: 0.5s;
 }
 ul li:hover::after{
     width: 90%;
 }
 /* content */
 .content{
     width: 100%;
     text-align: center;
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     color: white;
 }
 .content h1{
     font-size: 45px;
     margin: 20px 0;
 }
 .content p{
     font-size: 15px;
 }
 button{
     width: 200px;
     background: transparent;
     color: white;
     margin: 20px 10px;
     padding: 15px 0;
     border-radius: 25px;
     text-align: center;
     font-weight: bold;
     border: 2px solid #009688;
     cursor: pointer;
     position: relative;
     overflow: hidden;
     
 }
 span{
    background-color: turquoise;
    height: 100%;
    width: 0;
    border-radius: 25px;
    left: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
    transition: 0.5s;
 }
 button:hover span{
    width: 100%;
 }
button:hover{
    border: none;
}
