*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


/* container */
.container{
    display: flex;
    height: 100vh;
    width: 100%;
}

/* navy-color-box */
.left-container{
   background:linear-gradient(#293a4a, #18222c) ;
    flex-basis: 35%;
    position: relative;
}
.brand{
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 35px;
}
/* icons */
.icons{
    display: flex;
    text-align: center;
    justify-content: center;
    position: absolute;
    bottom: 5%;
    left: 30%;
}
.icon1{
    color: rgba(255, 255, 255, 0.575);
    width: 33px;
    height: 33px;
    margin: 7px;
    background-color:rgba(211, 211, 211, 0.137);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon2{
    color: rgba(255, 255, 255, 0.575);
    width: 33px;
    height: 33px;
    margin: 7px;
    background-color:rgba(211, 211, 211, 0.137);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon3{
    color: rgba(255, 255, 255, 0.575);
    width: 33px;
    height: 33px;
    margin: 7px;
    background-color:rgba(211, 211, 211, 0.137);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* image */
.big-image img{
    width: 100%;
    height: auto;
    top: 20%;
    left:40%;
    position: absolute;
}

/* right-container */
.right-container{
    flex-basis: 65%;
    position: relative;
}

/* navigation */
.navigation{
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 25%;
    right: 20%;
}
/* search-bar */
.search-bar{
    background: rgba(211, 211, 211, 0.288);
    display: flex;
    align-items: center;
    border-radius: 60px;  
}
.search-bar input{
    background: transparent;
    border: none;
    padding-left: 20px;
    font-size: 20px;
    color: #cac7ff;
    font-size: 16px;
}
.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background:transparent ;
}
/* cart */
.cart{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    font-size: 25px;
}
.cart p{
    width: 25px;
    height: 25px;
    background-color: rgba(211, 211, 211, 0.288);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:10px ;
    font-size: 14px;
}
.menu-bar{
    font-size: 25px;
}


/* category */
.category{
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    margin-top: 95px;
    left: 25%;
}
.man{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.man p{
    padding: 10px;
}
.shoe{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.shoe p{
    padding: 10px;
}
.shoe ~ p{
    color: lightgray;
}

/* heading */
.heading{
    position: absolute;
    top: 20%;
    left: 25%;
    right: 25%;
}
.heading h1{
    font-family: 'Abril Fatface', cursive;
    font-size: 47px;
    color: rgba(0, 0, 0, 0.849);
}

/* stars */
.stars{
    position: absolute;
    top: 41%;
    left: 25%;
    color: gold;
}

/* prize */
.prize{
    position: absolute;
    top: 47%;
    left: 25%;
    
}
.prize .discount{
    font-size: 30px;
    margin-right: 6px;
    font-weight: 600;
}
.prize .original{
    color: rgb(199, 198, 198);
    font-size: 15px;
    font-weight: 600;
    text-decoration: line-through;
}
/* description */
.description{
    position: absolute;
    top: 54%;
    left: 25%;
    right: 20%;
}
.description p{
    font-size: 13px;
}

/* options */
.options{
    position: absolute;
    top: 61%;
    left: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* color */
.color{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-right:20px ;
}
.color p{
    font-size: 12px;
    padding: 5px;
}
.color-option{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid rgba(211, 211, 211, 0.651);
    border-radius: 20px;
    padding: 10px;
}
.black-clr{
    background-color:rgba(0, 0, 0, 0.788) ;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin-right: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ckeck{
    color: white;
    font-size: 14px;
}
.white-clr{
    background-color:rgba(211, 211, 211, 0.445) ;
    width: 22px;
    height: 22px;
    border-radius: 50%;
}
.brown-clr{
    background-color:rgba(117, 27, 27, 0.911) ;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin-left: 6px;
}
/* size */
.size{
    display: flex;
    text-align: center;
    font-size: 12px;
    
}
.size p{
    padding-bottom: 5px;
}
.number{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid rgba(211, 211, 211, 0.651);
    border-radius: 20px;
    padding: 10px;
}
.number-48{
    margin:0 20px 0 10px;
}
.number .down{
    margin-right:10px ;
}
/* quantity */
.quantity{
    display: flex;
    flex-flow: column;
    font-size: 12px;
}
.quantity p{
    text-align: center;
    margin-left: 50px;
    padding-bottom: 5px;
}

.quantity-number{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 25px 0 25px;
    border: 1px solid rgba(211, 211, 211, 0.651);
    border-radius: 20px;
    padding: 10px;
    
}

/* purchase */
.purchase{
    position: absolute;
    top: 76%;
    left: 25%;
    display: flex;
    font-size: 14px;
}
.add-cart{
    background-color: rgba(59, 125, 247, 0.856);
    height: 40px;
    width: 200px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 16px;
    padding: 25px;
}
.save-list{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.save-list .heart{
    margin-right:10px;
}

/* delivery-description */
.delivery-description{
    position: absolute;
    top: 85%;
    left: 25%;
}


@media screen and (max-width:925px) {
    .heading h1{
        font-size: 38px;
    }
}

